# Node.js modules
node_modules

# IntelliJ IDEA files
.idea
*.iml

# Logs
*.log

/.yarn/cache
/.yarn/unplugged

# Package archive
*.tgz

# Intermediate files
/target

# Distribution directory
/dist

# Type definitions
/d.ts
